---
# Only the main Sass file needs front matter (the dashes are enough)
---

// - - - - - - - - - - - - - IMPORTS - - - - - - - - - - - - - //

@import "variables", "base";

// - - - - - - - - - - - - NAVIGATION - - - - - - - - - - - - //

.navigation {
	@extend %clearfix;
	height: $height-navbar;
	background-color: $white;

	.logo {
		img {
			width: 44px!important;
			height: auto;
			margin-top: 15px;
		}
	}

	nav {
		float:right;
		padding: 6px 0;
		font-weight: 500;
		ul {
			list-style: none;
		}
		li {
			float: left;
			margin-left: 20px;
		}
		li.active a {
			font-weight: 600;
		}
		a {
			text-decoration: none;
			color: $color-bg-dark;
			&:hover, &:active, &:focus {
				text-decoration: none;
				color: $color-bg-dark-bright;
			}
		}
	}
}

// - - - - - - - - - - - - FW LOGO - - - - - - - - - - - - //

.fw-logo {
	padding: 10px 0;
	margin-left: 44px;
	.title {
		margin: 0;
		font-size: 5rem;
		letter-spacing: -0.25rem;
		line-height: 2.75rem;
		text-transform: lowercase;
		.first {
			font-weight: 300;
		}
		.last {
			font-weight: 500;
			color: $color-highlight;
		}
		.suffix {
			font-weight: 200;
		}
	}
	.subtitle {
		margin: 0;
		font-size: 2.33rem;
		font-weight: 300;
		line-height: 3rem;
		text-transform: lowercase;
		span {
			color: $color-highlight;
		}
	}
}

// - - - - - - - - - - - - TOP BANNER - - - - - - - - - - - - //

.top-banner {
	background-color: $color-bg-dark;
	.container {
		padding-top: 128px;
		height: 450px;
	}
	&#home {
		.container {
			background: $color-bg-dark url("../images/top-banner_img_home.png") no-repeat right bottom;
		}
	}
}

// - - - - - - - - - - - - FOOTER - - - - - - - - - - - - //

footer {
	@extend %clearfix;
	background-color: $color-footer;
	font-size: 14px;
	p, ul {
		margin: 16px 0;
	}
	.copyright {
		width: 50%;
		float:left;
	}
	.footer-navigation {
		width: 50%;
		float: right;
		ul {
			padding: 0;
		}
		li {
			float: right;
			list-style: none;
			padding-left: 16px;
		}
		a {
			color: $white;
			text-decoration: none;
			text-transform: uppercase;
			&:hover, &:active, &:focus {
				text-decoration: none;
				color: darken($white, 15%);
			}
		}
	}
}
