---
# Only the main Sass file needs front matter (the dashes are enough)
---

// - - - - - - - - - - - - - IMPORTS - - - - - - - - - - - - - //

@import "variables", "base";

// - - - - - - - - - - - - NAVIGATION - - - - - - - - - - - - //

.navigation {
	@extend %clearfix;
	height: $height-navbar;
	background-color: $white;

	.logo {
		img {
			width: 44px!important;
			height: auto;
			margin-top: 15px;
		}
	}

	nav {
		float:right;
		padding: 6px 0;
		font-weight: 500;
		z-index: 500;
		ul {
			list-style: none;
		}
		li {
			float: left;
			margin-left: 20px;
		}
		li.active a {
			font-weight: 600;
		}
		a {
			text-decoration: none;
			color: $color-bg-dark;
			&:hover, &:active, &:focus {
				text-decoration: none;
				color: lighten($color-bg-dark-bright, 5%);
			}
		}
		.dropdown {
			a.parent:after {
				font-family: FontAwesome;
		    content: "\f107";
				position: relative;
				top: 1px;
		    margin-left: 7px;
		    color: $color-bg-dark-bright;
			}
			.dropdown-menu {
				display: none;
				position: absolute;
				top: $height-navbar;
				transform: translateX(-25px);
				z-index: 450;
				background-color: $white;
				color: $color-bg-dark;
				margin: 0;
				padding: 0;
				padding-bottom: $border-radius-card;
				border-bottom-left-radius: $border-radius-card;
				border-bottom-right-radius: $border-radius-card;
				li {
					float: none;
					margin: 0;
					a {
						display: block;
						font-weight: 500;
						padding: 10px 25px;
						transition: all $transition-time-standard ease-in-out;
						&:hover {
							background-color: $color-highlight;
							color: $color-bg-dark;
						}
					}
				}
			}
		}
	}
}

// - - - - - - - - - - - - FW LOGO - - - - - - - - - - - - //

.fw-logo {
	padding: 10px 0;
	margin-left: 44px;
	.title {
		margin: 0;
		font-size: 5rem;
		letter-spacing: -0.25rem;
		line-height: 2.75rem;
		text-transform: lowercase;
		.first {
			font-weight: 300;
		}
		.last {
			font-weight: 500;
			color: $color-highlight;
		}
		.suffix {
			font-weight: 200;
		}
	}
	.subtitle {
		margin: 0;
		font-size: 2.33rem;
		font-weight: 300;
		line-height: 3rem;
		text-transform: lowercase;
		.green {
			color: $color-highlight;
		}
	}
}

// - - - - - - - - - - - - TOP BANNER - - - - - - - - - - - - //

.top-banner {
	background-color: $color-bg-dark;
	.container {
		padding-top: 128px;
		height: 450px;
	}
	&#home {
		.container {
			background: $color-bg-dark url("../images/top-banner_img_home.png") no-repeat right bottom;
			@include retina {
				background: $color-bg-dark url("../images/top-banner_img_home@2x.png") no-repeat right bottom;
				background-size: 673px auto;
			}
		}
	}
	&#skills {
		.container {
			background: $color-bg-dark url("../images/top-banner_img_skills.png") no-repeat right bottom;
			@include retina {
				background: $color-bg-dark url("../images/top-banner_img_skills@2x.png") no-repeat right bottom;
				background-size: 821px auto;
			}
		}
	}
	&#refs {
		.container {
			background: $color-bg-dark url("../images/top-banner_img_refs.png") no-repeat right bottom;
			@include retina {
				background: $color-bg-dark url("../images/top-banner_img_refs@2x.png") no-repeat right bottom;
				background-size: 651px auto;
			}
		}
	}
	&#aboutme {
		.container {
			background: $color-bg-dark url("../images/top-banner_img_aboutme.png") no-repeat right bottom;
			@include retina {
				background: $color-bg-dark url("../images/top-banner_img_aboutme@2x.png") no-repeat right bottom;
				background-size: 688px auto;
			}
		}
	}
	&#legal {
		.container {
			background: $color-bg-dark url("../images/top-banner_img_legal.png") no-repeat right bottom;
			@include retina {
				background: $color-bg-dark url("../images/top-banner_img_legal@2x.png") no-repeat right bottom;
				background-size: 672px auto;
			}
		}
	}
}

// - - - - - - - - - - - - FOOTER - - - - - - - - - - - - //

footer {
	@extend %clearfix;
	background-color: $color-footer;
	font-size: 14px;
	p, ul {
		margin: 16px 0;
	}
	.copyright {
		width: 50%;
		float:left;
	}
	.footer-navigation {
		width: 50%;
		float: right;
		ul {
			padding: 0;
		}
		li {
			float: right;
			list-style: none;
			padding-left: 16px;
		}
		a {
			color: $white;
			text-decoration: none;
			text-transform: uppercase;
			&:hover, &:active, &:focus {
				text-decoration: none;
				color: $color-highlight;
			}
		}
	}
}

// - - - - - - - - - - - CODE SEPARATOR - - - - - - - - - - - //

section.code-separator {
	padding: 90px 0;
	font-family: "Source Code Pro", sans-serif;
	font-weight: 600;
	font-size: 1.7em;
	letter-spacing: -0.08em;
	text-align: center;
	.pre {
		color: $color-code-pre;
		font-size: 2em;
		letter-spacing: -0.09em;
		position: relative;
		top: 8px;
		margin-right: 20px;
		&.small {
			font-size: 1.75em;
			top:5px;
		}
	}
	.green {
		color: $color-highlight;
	}
	.blue {
		color: $color-blue;
	}
}

// - - - - - - - - - - - - CARDS - - - - - - - - - - - - //
.cards {
	@extend %clearfix;
	margin-top: -50px;
	z-index: 50;
}
.card {
	width: 100%;
	float: left;
  border-radius: $border-radius-card;
  background-color: $white;
  box-shadow: 0px 7px 23px 0px rgba(52, 52, 52, 0.4);
  z-index: 100;
	color: $color-bg-dark;
	.card-header {
		background-color: $color-gradient-start;
		$card-background-gradient: linear-gradient($color-gradient-start, $color-gradient-end);
		background-image: $card-background-gradient;
		height: 100px;
		border-top-left-radius: $border-radius-card;
		border-top-right-radius: $border-radius-card;
		&.wide {
			background-repeat: repeat-x!important;
		}
		&#card-bg-01 {
			background: url("../images/bg_card_01.png") no-repeat, $card-background-gradient;
			@include retina {
				background: url("../images/bg_card_01@2x.png") no-repeat, $card-background-gradient;
				background-size: 350px 100px;
			}
		}
		&#card-bg-02 {
			background: url("../images/bg_card_02.png") no-repeat, $card-background-gradient;
			@include retina {
				background: url("../images/bg_card_02@2x.png") no-repeat, $card-background-gradient;
				background-size: 350px 100px;
			}
		}
		&#card-bg-03 {
			background: url("../images/bg_card_03.png") no-repeat, $card-background-gradient;
			@include retina {
				background: url("../images/bg_card_03@2x.png") no-repeat, $card-background-gradient;
				background-size: 350px 100px;
			}
		}
		.icon-circle {
		  border-radius: 50%;
		  background-color: rgb(255, 255, 255);
		  box-shadow: 0px 2px 10px 0px rgba(52, 52, 52, 0.3);
		  width: 110px;
		  height: 110px;
		  z-index: 150;
			margin: 0 auto;
			transform: translateY(-33%);
			transition: transform $transition-time-icon-circle ease-in-out;
			padding: 5px;
			img {
				width: 100px;
				height: 100px;
			}
		}
	}
	&:hover {
		.card-header .icon-circle {
			transform: translateY(-25%);
		}
	}
	&.transparent-bg {
		background-color: transparent!important;
	}
	.card-body {
		padding: 15px;
		padding-bottom: 30px;
		text-align: center;
		h4 {
			font-size: 1.6em;
			font-weight: 500;
			text-align: center;
			margin: 0;
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 25px;
		}
		.btn {
			margin: 10px 0;
		}
		&.fullsize-img {
			padding: 0!important;
			overflow: hidden;
			background-color: transparent!important;
			img {
				width: 100%;
				height: auto;
				border-bottom-left-radius: $border-radius-card;
				border-bottom-right-radius: $border-radius-card;
				margin-bottom: -$border-radius-card/2;
			}
		}
	}
}

// - - - - - - - - - - - - REFERENZEN START - - - - - - - - - - - - //
#references {
	padding-top: $padding-section;
	text-align: center;
	overflow: hidden;
	.slider-nav {
		@extend %clearfix;
		padding: 0;
		margin: 0;
		display: inline-block;
		li {
			display: block;
			list-style: none;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #424952;
			float: left;
			margin-right: 5px;
			transition: background-color $transition-time-standard ease-in-out;
			&.active, &:hover {
				background-color: $color-highlight;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
	.slider {
		$slider-height: 375px;
		@extend %clearfix;
		padding: 0;
		margin: 0;
		margin-top: 50px;
		position: relative;
		height: $slider-height;
		li {
			list-style: none;
			width: 600px;
			height: $slider-height;
			display: block;
			background-color: $white;
		  border-top-right-radius: $border-radius-card;
			border-top-left-radius: $border-radius-card;
		  box-shadow: 0px 8px 40px 0px rgba(52, 52, 52, 0.75);
			overflow: hidden;
			position: absolute;
			img {
				width: 100%;
				height: auto;
			}
			&.active {
				left: 50%;
				margin-left: -300px;
				z-index: 250;
			}
			&:not(.active) {
				transform: scale(0.9);
				top: 19px;
				z-index: 200;
				&.left {
					left: -30px;
				}
				&.right {
					right: -30px;
				}
			}
		}
	}
}

// - - - - - - - - - - - - SKILLS - - - - - - - - - - - - //

.badge-list {
	@extend %clearfix;
	list-style: none;
	width: 100%;
	margin: 0;
	.badge-item {
		width: 33.333%;
		margin: 0 auto;
		float: left;
		.badge-frame {
		  border-radius: $border-radius-card;
		  background-color: $color-bg-dark-bright;
		  box-shadow: inset 0px 3px 15px 0px rgba(24, 25, 24, 0.5);
		  width: 158px;
		  height: 200px;
			img {
				width: auto;
				height: 88px;
				margin-top: 38px;
			}
			.badge-title {
				margin: 0;
				margin-top: 15px;
				color: $white;
				font-size: 21px;
			}
		}
	}
}

.tools-icon-list {
	@extend %clearfix;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	.tools-icon-list-item {
		width: 25%;
		float: left;
		margin: 0;
		font-size: 4em;
		color: $color-bg-dark;
	}
}

// - - - - - - - - - - - - COLLECTION SECTION - - - - - - - - - - - - //
.collection-section {
	padding: $padding-section 0;
	text-align: center;
	.intro-text {
		margin-bottom: 36px;
	}
}

// - - - - - - - - - - - - COLLECTIONS - - - - - - - - - - - - //
.collection {
	@extend %clearfix;
	list-style: none;
	padding: 0;
	margin-left: -15px;
	margin-right: -15px;
	.collection-item {
		$collection-item-height: 120px;
		width: 50%;
		float: left;
		$distance-bottom: 10px;
		height: $collection-item-height + 2 * $distance-bottom;
		padding: $distance-bottom 15px;
		.collection-item-content {
			@extend %clearfix;
			min-height: 100%;
			height: 100%;
			background-color: $white;
			color: $color-bg-dark;
			border-top-right-radius: $border-radius-card;
			border-bottom-right-radius: $border-radius-card;
			border-top-left-radius: $collection-item-height/2;
			border-bottom-left-radius: $collection-item-height/2;
			text-align: left;
			padding-right: 15px;
			.collection-icon-wrapper {
				float: left;
				width: $collection-item-height;
				height: $collection-item-height;
				margin-right: 20px;
				background-color: $white;
				border-radius: 50%;
  			box-shadow: 2px 2px 10px 1px rgba(52, 52, 52, 0.4);
				border: 6px $white solid;
				text-align: center;
				background-size: $collection-item-height*0.9!important;
				span {
					color: $white;
				}
				span.devicons {
					line-height: 108px;
					font-size: 4em;
				}
				span.fa {
					line-height: 112px;
					font-size: 2.75em;
				}
			}
			h5 {
				text-transform: uppercase;
				margin: 0;
				padding-top: 19px;
				font-weight: 500;
			}
			h4 {
				font-size: 1.4em;
				margin: 0;
				font-weight: 500;
			}
			p {
				margin: 0;
			}
		}
	}
}

// - - - - - - - - - - - - IMPRINT - - - - - - - - - - - - //
#imprint {
	.card .card-body {
		p, h4 {
			text-align: left;
		}
		h4 {
			font-size: 1.4em;
		}
	}
	.social-list {
		@extend %clearfix;
		display: inline-block;
		list-style: none;
		margin: 0;
		margin-top: 10px;
		padding: 0;
		li {
			display: block;
			border-radius: 50%;
			background-color: $color-bg-dark;
			color: $white;
			float:left;
			margin-left: 10px;
			$imprint-social-size: 40px;
			width: $imprint-social-size;
			height: $imprint-social-size;
			transition: all $transition-time-standard ease-in-out;
			&:hover {
				background-color: $color-highlight;
			}
			.fa {
				font-size: 1.25em;
				line-height: $imprint-social-size;
				color: $white;
			}
			a {
				display: block;
				color: $color-bg-dark;
				transition: all $transition-time-standard ease-in-out;
				&:hover {
					color: $white;
				}
			}
		}
	}
}

#disclaimer {
	h4 {
		font-size: 1.25em;
		font-weight: 500;
	}
	.source {
		font-size: 14px;
	}
}

#datenschutz {
	h4 {
		font-size: 1.25em;
		font-weight: 500;
		text-align: left;
	}
	ul {
		list-style-type: square;
	}
}

// - - - - - - - - - - - - CONTACT - - - - - - - - - - - - //
#kontakt {
	padding: $padding-section 0;
	text-align: center;
	fieldset {
		@extend %clearfix;
		max-width: 800px;
		display: block;
		margin: 0 auto;
		input {
			width: 100%;
		}
		textarea {
			margin-top: 10px;
			width: 100%;
		}
		button {
			margin-top: 10px;
			float: right;
		}
	}
	.social-list {
		@extend %clearfix;
		display: inline-block;
		list-style: none;
		margin: 0;
		margin-top: 50px;
		padding: 0;
		li {
			display: block;
			border-radius: 50%;
			background-color: $white;
			color: $color-bg-dark;
			float:left;
			margin-left: 15px;
			$social-size: 50px;
			width: $social-size;
			height: $social-size;
			transition: all $transition-time-standard ease-in-out;
			&:hover {
				background-color: $color-highlight;
			}
			.fa {
				font-size: 1.75em;
				line-height: $social-size;
			}
			a {
				display: block;
				color: $color-bg-dark;
				transition: all $transition-time-standard ease-in-out;
				&:hover {
					color: $white;
				}
			}
		}
	}
}
