---
layout: default
title: "Über mich"
top-banner-id: aboutme
subtitle: übermich[<span class="green">vita, skills</span>]
group: "main-menu"
permalink: /uebermich/
---

<section class="cards" id="aboutme-cards">
  <div class="container">
    <div class="row">
      <div class="col col--8-of-12">
        <div class="card">
          <div class="card-header wide" id="card-bg-01">
            <div class="icon-circle">
              <img src="../../images/rounded_icons/chat.svg" alt="Chat" data-no-retina>
            </div>
          </div>
          <div class="card-body">
            <h4>Hallo, mein Name ist Flori.</h4>
            <div class="row">
              <div class="col col--6-of-12">
                <p class="text-left">
                  Mein Name ist <strong>Flori</strong>, ich bin <span class="myage">29 Jahre</span> alt und wohne in <strong>Gesees bei Bayreuth.</strong> Besser bekannt als <strong>Xees</strong>. ;-)
                </p>
                <p class="text-left">
                  Ich bin Designer, Web-Entwickler und programmiere Apps. <strong>Webseiten</strong> habe ich schon zu Schulzeiten gebastelt, <strong>Apps</strong> entwickle ich seit 2010 und Erfahrungen als <strong>Designer</strong> habe ich über die letzten Jahre hinweg ebenfalls gesammelt.
                </p>
              </div>
              <div class="col col--6-of-12">
                <p class="text-left">
                  Seit 2013 bin ich <strong>selbstständig</strong> und habe so Erfahrungen in der Zusammenarbeit mit <strong>Kunden</strong>, <strong>Agenturen</strong> und <strong>Freelancern</strong> gewonnen. Jeder neue Auftrag ist eine neue <strong>Herausforderung</strong>.</p>
                <p class="text-left">
                  Aber auch eine <strong>Chance</strong>! Eine Chance sich <strong>weiterzuentwicklen</strong>, <strong>Neues</strong> auszuprobieren und <strong>Erfahrungen</strong> zu sammeln.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col--4-of-12">
        <div class="card transparent-bg last">
          <div class="card-header" id="card-bg-03">
            <div class="icon-circle">
              <img src="../../images/rounded_icons/camera.svg" alt="Kamera" data-no-retina>
            </div>
          </div>
          <div class="card-body fullsize-img" id="profile-image">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="code-separator">
  <div class="container">
    <span class="pre">class</span><span class="green">def</span> initialize(<span class="blue">me</span>)
  </div>
</section>

<section class="dark-bg collection-section" id="educationcareer">
  <div class="container">
    <h3>ausbildung<span class="fine white">&amp;</span><span>laufbahn</span></h3>
    <p class="intro-text">Die wichtigen Stationen meines Lebens zusammengefasst in dieser <strong>Kurz-Vita</strong>: Schule, Ausbildung, berufliche Laufbahn.</p>
    <ul class="collection">
      {% for education in site.education_career %}
      <li class="collection-item">
        <div class="collection-item-content">
          <div class="collection-icon-wrapper" style="background: #{{ education.color }} url('../../images/top-banner_img_legal.svg') no-repeat center center;">
            <span class="{{ education.icon }}"></span>
          </div>
          <h5>{{ education.type }}</h5>
          <h4>{{ education.title }}</h4>
          <p>{{ education.content }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="code-separator">
  <div class="container">
    <span class="pre">git</span>commit <span class="blue">-m </span><span class="green">"init"</span>
  </div>
</section>

<section class="dark-bg collection-section" id="skillslanguages">
  <div class="container">
    <h3>kenntnisse<span class="fine white">&amp;</span><span>sprachen</span></h3>
    <p class="intro-text">Ich spreche <strong>HTML</strong>. Und viele mehr... Hier eine <strong>Übersicht</strong> über Sprachen, die ich spreche und programmiere.</p>
    <ul class="collection">
      {% for skill in site.skills_languages %}
      <li class="collection-item">
        <div class="collection-item-content">
          <div class="collection-icon-wrapper" style="background: #{{ skill.color }} url('../../images/top-banner_img_legal.svg') no-repeat center center;">
            <span class="{{ skill.icon }}"></span>
          </div>
          <h5>{{ skill.type }}</h5>
          <h4>{{ skill.title }}</h4>
          <p>{{ skill.content }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="code-separator">
  <div class="container">
    <span class="pre">&amp;:hover{</span>color: <span class="green">$green</span><span class="blue">;</span>
  </div>
</section>

{% include contact.html %}
