<section class="dark-bg" id="kontakt">
  <div class="container">
    <h3>
      <span class="bold white">sagen</span>sie
      <span>hallo</span>
    </h3>
    <p>Sie suchen einen
      <strong>Designer</strong>,
      <strong>Web-Entwickler</strong> oder
      <strong>Apple Developer</strong>? Dann sind Sie bei mir genau richtig!</p>
    <form method="POST" id="contactform">

      <input type="text" name="subject" style="display:none">

      <fieldset>
        <div class="row">
          <div class="col col--6-of-12">
            <input type="text" name="name" value="" placeholder="Name" required="required">
          </div>
          <div class="col col--6-of-12">
            <input type="email" name="email" value="" placeholder="E-Mail" required="required">
          </div>
        </div>
        <div class="row">
          <div class="col col--12-of-12">
            <textarea name="message" rows="8" placeholder="Nachricht" required="required"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col col--12-of-12 privacypolicy-col">
            <label for="privacypolicy">
              <input type="checkbox" name="privacypolicy" id="privacypolicy" required="required"> Ich habe die
              <a href="{{ " /datenschutz/ " | prepend: site.baseurl }}">Datenschutzerklärung</a> gelesen und akzeptiere sie.</label>
          </div>
          <div class="col col--12-of-12">
            <button type="submit" class="btn btn-white">Senden</button>
          </div>
        </div>
      </fieldset>
    </form>
    {% include social_list.html %}
  </div>
</section>