<section class="dark-bg" id="kontakt">
  <div class="container">
    <h3><span class="bold white">sagen</span>sie<span>hallo</span></h3>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <form action=".">
      <fieldset>
        <div class="row">
          <div class="half">
            <input type="text" name="name" value="" placeholder="Name">
          </div>
          <div class="half">
            <input type="text" name="email" value="" placeholder="E-Mail">
          </div>
        </div>

        <textarea name="message" rows="8" placeholder="Nachricht"></textarea>
        <button type="submit" name="submit" class="btn btn-white">Senden</button>

      </fieldset>
    </form>
    {% include social_list.html %}
  </div>
</section>
