<footer>
  <div class="container">
    <div class="footer-navigation">
      <ul>
        {% assign pages_list = site.pages | sort: 'order' %}
        {% assign group = 'footer-menu' %}
        {% include pages_list.html %}
      </ul>
    </div>
    <div class="copyright">
      <p>&copy; Florian Weich. Alle Rechte vorbehalten.</p>
    </div>
  </div>
</footer>

<script src="{{ "/js/app.min.js" | prepend: site.baseurl }}"></script>

{% if page.url == "/" %}
<script src="{{ "/js/masterslider.min.js" | prepend: site.baseurl }}"></script>
{% endif %}