<header class="navigation">
  <div class="container">

    <a href="{{ site.baseurl }}/" class="logo" title="Startseite">
      <img src="{{ site.baseurl }}/images/logo.svg" alt="Terminal">
    </a>

    <nav>
      <ul>
        {% if page.url == '/' %}
        <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
        {% else %}
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        {% endif %}
        {% assign pages_list = site.pages %}
        {% assign group = 'main-menu' %}
        {% include pages_list.html %}
      </ul>
    </nav>

  </div>
</header>
