<header class="navigation">
  <div class="container">

    <a href="{{ site.baseurl }}/" class="logo" title="Startseite">
      <img src="{{ site.baseurl }}/images/logo.svg" alt="Terminal">
    </a>

    <nav>
      <ul>
        {% if page.url == '/' %}
        <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
        {% else %}
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        {% endif %}
        <li class="{% if page.url contains '/kenntnisse/' %}active{% endif %} dropdown">
          <a href="{{ "/kenntnisse/" | prepend: site.baseurl }}" class="parent">Kenntnisse</a>
          <ul class="dropdown-menu">
            <li><a href="{{ "/kenntnisse/frontend/" | prepend: site.baseurl }}">HTML, CSS &amp; JS</a></li>
            <li><a href="{{ "/kenntnisse/wordpress/" | prepend: site.baseurl }}">Wordpress</a></li>
            <li><a href="{{ "/kenntnisse/rails/" | prepend: site.baseurl }}">Ruby on Rails</a></li>
          </ul>
        </li>
        {% assign pages_list = site.pages %}
        {% assign group = 'main-menu' %}
        {% include pages_list.html %}
        <li><a href="#kontakt">Kontakt</a></li>
      </ul>
    </nav>

  </div>
</header>
