<ul class="slider-nav">
  <li data-target-slide="0"></li>
  <li data-target-slide="1"></li>
  <li data-target-slide="2"></li>
</ul>
<div class="ms-caro3d-template ms-caro3d-wave">
  <!-- masterslider -->
  <div class="master-slider ms-skin-default" id="masterslider">
    {% assign slider_refs = site.references | where: "group", "slider" | sort: "slider_order" %}
    {% for ref in slider_refs limit:3 %}
    <div class="ms-slide" data-delay="7">
      <img src="{{ ref.image_slider | prepend: "../../images/refs/" }}" data-src="{{ ref.image_slider | prepend: "../../images/refs/" }}" alt="{{ ref.title }}"/>
    </div>
    {% endfor %}
  </div>
  <!-- end of masterslider -->
</div>
