<ul class="social-list">
  <li><a href="mailto:hallo@florianweich.me"><i class="fa fa-envelope"></i></a></li>
  <li><a href="https://github.com/florianweich" target="_blank"><i class="fa fa-github"></i></a></li>
  <li><a href="https://www.xing.com/profile/Florian_Weich2" target="_blank"><i class="fa fa-xing"></i></a></li>
  <li><a href="https://de.linkedin.com/in/florian-weich-6163b188" target="_blank"><i class="fa fa-linkedin"></i></a></li>
  <li><a href="https://www.instagram.com/florianweich/" target="_blank"><i class="fa fa-instagram"></i></a></li>  
</ul>
