// - - - - - - - - - - - - - FONTS - - - - - - - - - - - - - //

body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  background-color: $color-bg-dark-bright;
  color: $color-text;
}

// - - - - - - - - - - - GLOBAL LAYOUT - - - - - - - - - - - //

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

.content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  margin-bottom: -$height-footer;
}

footer, .push {
  height: $height-footer;
}

// - - - - - - - - - - - MIXINS - - - - - - - - - - - //

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
