// - - - - - - - - - - - - - COLORS - - - - - - - - - - - - - //

$white:                  #ffffff;
$color-bg-dark:          #2e3440;
$color-bg-dark-bright:   #434953;
$color-footer:           #1c1f26;
$color-highlight:        #bef41a;
$color-gradient-start:   #cdef11;
$color-gradient-end:     #dbff12;
$color-text:             $white;

// - - - - - - - - - - - - - FONTS - - - - - - - - - - - - - //

$base-font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;

// - - - - - - - - - - - - - SIZES - - - - - - - - - - - - - //

$height-navbar: 66px;
$height-footer: 50px;
