---
#layout: compress
---

<!DOCTYPE html>
<html lang="de">

  {% include head.html %}

  <body>

    <div class="content">

      {% include header.html %}

      <section class="top-banner" id="{{ page.top-banner-id }}">
        <div class="container">
          <div class="fw-logo">
            <h1 class="title"><span class="first">florian</span><span class="last">weich</span><span class="suffix">.me</span></h1>
            <h2 class="subtitle">{{ page.subtitle }}</h2>
          </div>
        </div>
      </section>

      {{ content }}

      <div class="push"></div>
    </div>

    {% include footer.html %}

  </body>

</html>
