---
layout: default
title: "Ruby on Rails"
top-banner-id: rails
subtitle: kenntnisse[<span class="green">ruby</span>on<span class="green">rails</span>]
permalink: /kenntnisse/rails/
devicons:
  - ruby_on_rails
  - sass
  - git
  - redis
  - heroku
  - aws
  - terminal
  - sublime
---

<section class="cards" id="skills-cards">
  <div class="container">
    <div class="row flex-desktop">
      <div class="col col--8-of-12 flex-desktop">
        <div class="card">
          <div class="card-header wide" id="card-bg-01">
            <div class="icon-circle">
              <img src="../../images/rounded_icons/rails.svg" alt="Ruby on Rails" data-no-retina>
            </div>
          </div>
          <div class="card-body">
            <h4>Backend: Ruby on Rails</h4>
            <p>Schon lange <strong>den Kinderschuhen entwachsen</strong> bildet das Web-Framework die Basis für Webseiten wie Groupon, SoundCloud, Airbnb, Hulu, Github uvm.</p>
            <ul class="badge-list">
              <li class="badge-item"><div class="badge-frame"><img src="../../images/rails.svg" alt="Ruby on Rails" data-no-retina><h5 class="badge-title">Rails</h5></div></li>
              <li class="badge-item"><div class="badge-frame"><img src="../../images/heroku.svg" alt="Heroku" data-no-retina><h5 class="badge-title">Heroku</h5></div></li>
              <li class="badge-item"><div class="badge-frame"><img src="../../images/aws.svg" alt="Amazon Web Services" data-no-retina><h5 class="badge-title">AWS</h5></div></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col col--4-of-12 flex-desktop">
        <div class="card last">
          <div class="card-header" id="card-bg-03">
            <div class="icon-circle">
              <img src="../../images/rounded_icons/tools.svg" alt="Tools &amp; Frameworks" data-no-retina>
            </div>
          </div>
          <div class="card-body">
            <h4>Tools &amp; Frameworks</h4>
            <p>Diese Tools und Frameworks helfen mir bei der Ruby on Rails-Entwicklung.</p>
            <ul class="tools-icon-list">
              {% for devicon in page.devicons %}
                <li class="tools-icon-list-item"><span class="devicons devicons-{{ devicon }}" title="{{ devicon }}"></span></li>
              {% endfor %}
            </ul>
            <a href="#toolsframeworks" class="btn">Mehr erfahren</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="code-separator">
  <div class="container">
    <span class="pre small">Gemfile</span>gem <span class="blue">'</span><span class="green">rails</span><span class="blue">'</span>
  </div>
</section>

<section class="dark-bg collection-section" id="toolsframeworks">
  <div class="container">
    <h3>tools<span class="fine white">&amp;</span><span>frameworks</span></h3>
    <p class="intro-text">Web-Services wie <strong>Heroku</strong> und <strong>AWS</strong> bilden das Fundament einer jeden Rails-App. Dank eingebauter Asset Pipeline, SASS-Unterstützung und einer Vielzahl an <strong>Rubygems</strong> lassen sich anspruchsvolle Web-Anwendungen auf effiziente Weise realisieren.</p>
    <ul class="collection">
      {% for tool in site.rails_tools_frameworks %}
      <li class="collection-item">
        <div class="collection-item-content">
          <div class="collection-icon-wrapper" style="background: #{{ tool.color }} url('../../images/top-banner_img_legal.svg') no-repeat center center;">
            <span class="{{ tool.icon }}"></span>
          </div>
          <h5>{{ tool.type }}</h5>
          <h4>{{ tool.title }}</h4>
          <p>{{ tool.content }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="code-separator">
  <div class="container">
    <span class="pre small">Model</span>has_many <span class="blue">:</span><span class="green">children</span>
  </div>
</section>

{% include contact.html %}
